<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trend_Fashion_Strore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Trend_Fashion_Strore.styles.css" asp-append-version="true" />

    <!-- وصلات jQuery وDataTables -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="@Url.Action("Index","Baskets")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","ProductColorsAndSizes")">Quantity</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Create","Product")">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Colors")">Colors</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Sizes")">Sizes</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","ProductImages")">Images</a>
                        </li>
                      

                        @if (ViewBag.CustomerName != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="#"> @ViewBag.CustomerName</a>
                            </li>

                            <li class="nav-item">

                                <form asp-action="LoginOut" asp-controller="Accounts" method="post">
                                    <input type="submit" value="Login Out" class="nav-link" />
                                </form>

                            </li>

                        }
                        

                    </ul>
                </div>
            </div>
        </nav>
        <style>

            .subnav {
                display: flex;
                justify-content: space-around;
                overflow: hidden;
                background-color: #666;
            }

                .subnav a {
                    color: #f2f2f2;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }

                    .subnav a:hover {
                        background-color: #ddd;
                        color: black;
                    }
        </style>
        <div class="subnav">
            <a href="#الأولاد">الأولاد</a>
            <a href="#البنات">البنات</a>
            <a href="#الرجال">الرجال</a>
            <a href="#النساء">النساء</a>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - SHEIN_YEMEN - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
